body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-content .wizard-form .progressbar {
  display: flex;
}

.main-content .step-container {
  flex-grow: 1;
}

.main-content .wizard-form .progressbar-list::before {
  content: " ";
  background-color: rgb(155, 155, 155);
  border: 10px solid #fff;
  border-radius: 50%;
  display: block;
  width: 30px;
  height: 30px;
  margin: 9px auto;
  box-shadow: 1px 1px 3px #606060;
  transition: all;
}

.main-content .wizard-form .progressbar-list::after {
  content: "";
  background-color: rgb(155, 155, 155);
  padding: 0px 0px;
  position: absolute;
  top: 14px;
  left: -50%;
  width: 100%;
  height: 2px;
  margin: 9px auto;
  z-index: -1;
  transition: all 0.8s;
}

.main-content .wizard-form .progressbar-list.active::after {
  background-color: #dc3545;
}

.main-content .wizard-form .progressbar-list:first-child::after {
  content: none;
}

.main-content .wizard-form .progressbar-list.active::before {
  font-family: "Font Awesome 5 free";
  content: "\f00c";
  font-size: 11px;
  font-weight: 600;
  color: #fff;
  padding: 6px;
  background-color: #dc3545;
  border: 1px solid #dc3545;
  box-shadow: 0 0 0 7.5px rgb(176 60 70 / 11%);
}

.progressbar-list {
  color: #6f787d;
}

.active {
  color: #000;
}

/* card */
.card img {
  width: 40px;
}

.card {
  border: 3px solid rgb(145 145 145);
  cursor: pointer;
}

.active-card {
  color: #dc3545;
  font-weight: bold;
  border: 3px solid #dc3545;
}

.form-check-input:focus {
  box-shadow: none;
}

.bg-color-info {
  background-color: #dc3545 !important;
}

.border-color {
  border-color: #ececec;
}

.btn {
  padding: 16px 30px;
}

.back-to-wizard {
  transform: translate(-50%, -139%) !important;
}

.bg-success-color {
  background-color: #87D185;
}

.bg-success-color:focus {
  box-shadow: 0 0 0 0.25rem rgb(55 197 20 / 25%);
}